<div class="container">
    <h1 class="center">Welcome back!</h1>
    <p class="center my-s">
        Do not have an account yet?
        <a class="link" href="/register">Create account</a>
    </p>
    <form class="paper mt-l" id="loginForm">
        <div class="input-wrapper">
            <label for="username" class="label-required">Username</label>
            <input type="text" name="username" id="username" required />
        </div>
        <div class="input-wrapper mt-m">
            <label for="username" class="label-required">Password</label>
            <div style="position: relative">
                <input
                    type="password"
                    name="password"
                    id="password"
                    required
                    autocomplete="password"
                />
                <div class="input-icon" type="button" id="showPassword">
                    Show
                </div>
            </div>
        </div>
        <div class="flex align-center justify-between mt-m">
            <div class="input-wrapper flex align-center gap-s">
                <input type="checkbox" name="remember" id="remember" />
                <label for="remember">Remember me</label>
            </div>
            <label>
                <a class="link" href="/forgot-password"> Forgot password? </a>
            </label>
        </div>
        <button class="mt-m">Sign In</button>
        <div class="txt-error font-m" id="loginError"></div>
    </form>
</div>

<script>
    const rememberMe = document.getElementById('remember');
    const rememberMePreference = localStorage.getItem('rememberMe');
    const username = document.getElementById('username');
    const password = document.getElementById('password');
    const usernameRemebered = localStorage.getItem('username') || '';
    const showPassword = document.getElementById('showPassword');

    showPassword.addEventListener('click', () => {
        if (password.type === 'password') {
            password.type = 'text';
            showPassword.textContent = 'Hide';
        } else {
            password.type = 'password';
            showPassword.textContent = 'Show';
        }
    });

    if (rememberMePreference === 'true') {
        rememberMe.checked = true;
        username.value = usernameRemebered;
    } else {
        rememberMe.checked = false;
        username.value = '';
    }
    rememberMe.addEventListener('change', () => {
        if (rememberMe.checked) {
            rememberMe.value = 'true';
            localStorage.setItem('rememberMe', 'true');
        } else {
            rememberMe.value = 'false';
            localStorage.setItem('rememberMe', 'false');
        }
    });

    username.addEventListener('input', () => {
        localStorage.setItem('username', username.value);
    });

    const loginForm = document.getElementById('loginForm');
    loginForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const usernameValue = username.value;
        const passwordValue = password.value;

        const data = {
            username: usernameValue,
            password: passwordValue,
        };
        login(data);
    });

    const login = async (data) => {
        const loginError = document.getElementById('loginError');
        if (!data.username || !data.password) {
            loginError.innerText = 'Please fill in all fields';
            loginError.classList.add('mt-m');
            loginError.dataset.error = 'true';
            return;
        }
        const response = await fetch('/api/v1/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });
        const responseData = await response.json();
        if (response.status === 200) {
            loginError.innerText = '';
            loginError.dataset.error = 'false';
            loginError.classList.remove('mt-m');
            window.location.href = '/dashboard';
        } else {
            loginError.innerText = responseData.errorMsg;
            loginError.dataset.error = 'true';
            loginError.classList.add('mt-m');
        }
        console.log(responseData);
    };
</script>
