<div class="container">
    <h1 class="center">Welcome back!</h1>
    <p class="center my-s">
        Do not have an account yet?
        <a class="link" href="/register">Create account</a>
    </p>
    <form class="paper mt-l" id="loginForm" method="post" action="/login">
        <div class="input-wrapper">
            <label for="username" class="label-required">Username</label>
            <input type="text" name="username" id="username" value="<%= data?.username %> " required />
        </div>
        <div class="input-wrapper mt-m">
            <label for="username" class="label-required">Password</label>
            <div style="position: relative">
                <input type="password" name="password" id="login-password" required autocomplete="password" />
                <div class="input-icon" role="button" id="showPassword" data-toggler="show-password"
                    data-target="login-password">
                    Show
                </div>
            </div>
        </div>
        <div class="flex align-center justify-between mt-m">
            <div class="input-wrapper flex align-center gap-s">
                <input type="checkbox" name="remember" id="remember" />
                <label for="remember">Remember me</label>
            </div>
            <label>
                <a class="link" href="/forgot-password"> Forgot password? </a>
            </label>
        </div>
        <button class="mt-m">Sign In</button>
        <div class="txt-error font-m<%= error && " mt-m" %>" id="loginError"><%= errorMsg %>
        </div>


    </form>
    <% if (showAlert) { %>
        <div class="paper fade-in mt-xxl bg-gradient-400">
            <h4 style="color: black">Account created!</h4>
        </div>
        <% } %>
</div>

<script>
    const rememberMe = document.getElementById('remember');
    const rememberMePreference = localStorage.getItem('rememberMe');
    const username = document.getElementById('username');
    const usernameRemebered = localStorage.getItem('username') || '';


    if (rememberMePreference === 'true') {
        rememberMe.checked = true;
        username.value = usernameRemebered;
    } else {
        rememberMe.checked = false;
        username.value = '';
    }
    rememberMe.addEventListener('change', () => {
        if (rememberMe.checked) {
            rememberMe.value = 'true';
            localStorage.setItem('rememberMe', 'true');
        } else {
            rememberMe.value = 'false';
            localStorage.setItem('rememberMe', 'false');
        }
    });

    username.addEventListener('input', () => {
        localStorage.setItem('username', username.value);
    });


</script>