<div class="container">
    <h1 class="center">Sign Up</h1>
    <p class="center my-s">
        Already have an account?
        <a class="link" href="/login">Login</a>
    </p>
    <form action="api/v1/auth/register" method="POST" class="paper mt-l">
        <div class="flex-h gap-m">
            <div class="input-wrapper">
                <label for="firstName" class="label-required">First Name</label>
                <input type="text" name="firstName" id="firstName" required />
            </div>
            <div class="input-wrapper">
                <label for="lastName" class="label-required">Last Name</label>
                <input type="text" name="lastName" id="lastName" required />
            </div>
        </div>
        <div class="input-wrapper mt-s">
            <label for="username" class="label-required">Username</label>
            <input type="text" name="username" id="username" required />
        </div>
        <div class="input-wrapper mt-s">
            <label for="email" class="label-required">Email</label>
            <input type="email" name="email" id="email" required />
        </div>
        <div class="input-wrapper mt-s">
            <label for="username" class="label-required">Password</label>
            <input
                type="password"
                name="password"
                id="password"
                required
                autocomplete="password"
            />
        </div>

        <button class="mt-m">Sign Up</button>
    </form>
</div>
