<footer class="flex-v align-center gap-m justify-center">
    <p class="center">
        <a href="">Home</a> | <a href="">About</a> | <a href="">Contact</a> |
        <a href="">Privacy Policy</a> | <a href="">Terms of Service</a> |
        <a href="">FAQ</a>
    </p>
    <p class="text-center">© 2021 Billify. All rights reserved.</p>
</footer>
