<footer class="flex-v align-center gap-m justify-center">
    <p class="center">
        <a href="">Home</a> | <a href="">About</a> | <a href="">Contact</a> |
        <a href="">Privacy Policy</a> | <a href="">Terms of Service</a> |
        <a href="">FAQ</a>
    </p>
    <p class="text-center">© 2021 Billify. All rights reserved.</p>
    <small>Icons by <a href="https://www.figma.com/@novaslide?ref=svgrepo.com">Dmitriy Novikov</a></small>
    <small>
        Special thanks to <a href="https://sonneiltech.com/author/clavinia/">CARMEN L. SEVA</a> for the
        <a href="https://sonneiltech.com/2021/02/how-to-create-your-own-custom-icon-font/">tutorial</a>
    </small>
</footer>