<header>
    <h1>
        <%= title %>
    </h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>
                <% if (title==="Dashboard" && data.username) { %>
                    <a href="/logout">Logout</a>

                    <% } %>
            </li>
            <li><button id="dark-mode-toggle"></button></li>
        </ul>
    </nav>
</header>