<div class="">
    <div class="container container-md">
        <h2 class="mb-xxxl">Hello <%= data.firstName %> <span>👋🏿</span></h2>
        <div class="paper paper-alt p-l">
            <h4>Services</h4>
            <div class="container-grid-items mt-l">
                <a class="mini-card" href="/bills">
                    <span class="mini-card-icon">
                        <img src="static/images/bills.svg" alt="" srcset="">
                    </span>
                    <div class="mini-card__content">
                        <h4>Bills</h4>
                    </div>
                </a>
                <a class="mini-card">
                    <span class="mini-card-icon">
                        <img src="static/images/notification.svg" alt="" srcset="">
                    </span>
                    <div class="mini-card__content">
                        <h4>Notifications</h4>
                    </div>
                </a>
                <a class="mini-card">
                    <span class="mini-card-icon">
                        <img src="static/images/search.svg" alt="" srcset="">
                    </span>
                    <div class="mini-card__content">
                        <h4>Search</h4>
                    </div>
                </a>
                <a class="mini-card">
                    <span class="mini-card-icon">
                        <img src="static/images/user.svg" alt="" srcset="">
                    </span>
                    <div class="mini-card__content">
                        <h4>Profile</h4>
                    </div>
                </a>
                <a class="mini-card">
                    <span class="mini-card-icon">
                        <img src="static/images/preference.svg" alt="" srcset="">
                    </span>
                    <div class="mini-card__content">
                        <h4>Preference</h4>
                    </div>
                </a>
                <a class="mini-card" href="/logout">
                    <span class="mini-card-icon">
                        <img src="static/images/logout.svg" alt="" srcset="">
                    </span>
                    <div class="mini-card__content">
                        <h4>Logout</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>