<div class="wrapper center">
    <h1 class="font-xxxl"><span>💸</span></h1>
    <h1 class="font-xxxl">Billify Project</h1>
    <p class="font-m mt-l">
        This is a simple application that allows you to manage your monthly
        expenses
    </p>

    <div class="flex align-center justify-center mt-xxxl gap-xxl">
        <a href="/login" class="py-s px-xxxl rounded-sm bg-primary txt-white">Login</a>
        <a href="/register" class="py-s px-xxxl rounded-sm bg-surface-800 border">Register</a>
    </div>
</div>