.popover-container,
[role='popover-container'] {
    position: relative;
}

[data-toggle="popover"] {
    cursor: pointer;
    display: inline-block;
}

.popover__content {
    border-radius: 4px;
    overflow: hidden;
    padding: var(--spacing-xs);
    background: var(--surface-alt);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px,
        rgb(0 0 0 / 22%) 0px 15px 12px;
    position: absolute;
    z-index: 2000;
    width: 0px;
    max-width: 400px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.75);
    transition: all 0.25s ease 0s;
}

.popover {
    position: relative;
}

.popover__content.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}